.product-info {
    height: 270px;
}
    .product-info img {
        max-width: 100px;
        max-height: 100px;
        float: left;
        margin: 0 2px;
        border: solid 1px black;
    }

    .product-info .product-title {
        font-size: large;
        font-weight: bold;
    }

    .product-info button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -50px;
    }