@{
    ViewBag.Title = "About this assessment";
}

@section Scripts{
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
}

<p>Hello! First of all, I want to thank you for this opportunity. I would like to summarize my activities during my assessment. First of all, I will mention the technologies used for this development:</p>
<ul>
    <li>Visual Studio 2017</li>
    <li>Microsoft .NET Core 2.0.3</li>
    <li>MVC6</li>
    <li>Entity Framework Core</li>
    <li>Angular 5</li>
</ul>
<p>This is my database schema:</p><br/>
<img src="~/img/ERDiagram_Sana_Assessment_CC1020726104.png"/>
<br />
<br />
<p>Additional notes:</p>
<ul>
    <li>The data requested as persistent storage is stored in a database whose -Connection String- must be configured in the file ~/config.json.</li>
    <li>A basic migration awaits the first execution of the application with some products.</li>
    <li>To verify the operation of storage types, there is a switch button that determines whether memory storage is used or not. To check it, it is necessary to refresh (F5) the page.</li>
</ul>
<p>Finally I want to apologize to Cas for the late delivery of my test. I wish you like it. Best regards!</p>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/alanlopcu/AnaSProject/" data-icon="octicon-eye" aria-label="Watch alanlopcu/AnaSProject on GitHub">Watch</a>
<br><br>
<p>Alvaro Andrés López C. <br> 57-3107887382 <br/><a href="mailto:alanlopcu@gmail.com">alanlopcu@gmail.com</a> .</p>